footer {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.keyboard-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e2e6ea;
  border-radius: 5px;
  width: 30px;
  height: 50px;
  font-weight: bold;
  background-color: #e2e6ea;
}

#enter {
  width: 70px;
  height: 50px;
}

#backspace {
  width: 70px;
  height: 50px;
}
